---
layout: page.liquid
---
<section class="container is-fluid">
  <div class="content columns">
    <div class="column is-3 has-background-light">
      {% include 'sidebar' %}
    </div>
    <div class="column is-9">
      <div class="container is-fluid">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</section>
