<footer class="footer">
  <div class="level mt-3 is-size-7">
    <div class="level-left">
      <div class="level-item">
        <p><b>m-ld</b> source code on</p>
      </div>
      <div class="level-item">
        <a target="_blank" href="https://github.com/m-ld/m-ld-gateway"><img
              src="https://m-ld.org/media/github.svg" alt="GitHub"/></a>
      </div>
      <div class="level-item">
        <p>licensed
          <a target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          Supported by
        </p>
      </div>
      <div class="level-item">
        <a target="_blank" href="https://nlnet.nl">
          <img src="https://m-ld.org/media/logo_nlnet.svg" alt="NLnet"/>
        </a>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p>
          <a href="https://m-ld.org/privacy/">privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>