<aside class="menu is-hidden-mobile">
  <p class="menu-label">
    Basics
  </p>
  <ul class="menu-list">
    <li><a href="getting-started">Getting Started</a></li>
    <li><a href="accounts">Accounts</a></li>
  </ul>
  <p class="menu-label">
    Domains
  </p>
  <ul class="menu-list">
    <li><a href="named-subdomains">Named Subdomains</a></li>
    <li><a href="uuid-subdomains">UUID Subdomains</a></li>
    <li><a href="clone-subdomain">Cloning</a></li>
  </ul>
  <p class="menu-label">
    API
  </p>
  <ul class="menu-list">
    <li><a href="clone-api">Clone</a></li>
  </ul>
  <p class="menu-label">
    Advanced
  </p>
  <ul class="menu-list">
    <li><a href="self-host">Self-Hosting</a></li>
    <li>
      <a href="https://github.com/m-ld/m-ld-gateway/tree/v{{ '{{ version }}' }}/architecture">Architecture</a>
    </li>
  </ul>
</aside>
